---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import TrabajoIcon from "../components/icons/Trabajo.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Timeline from "../components/Timeline.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import PortfolioIcon from "../components/icons/Portfolio.astro";
import FormContact from "../components/FormContact.astro";
import Projects from "../components/Projects.astro";
import Educacion from "../components/Educacion.astro";
import Education from "../components/icons/Education.astro";
import Tecnologies from "../components/Tecnologies.astro";
import CSSIcon from "../assets/icons/CSS.astro";
import HTMLIcon from "../assets/icons/HTML.astro";
import PHPIcon from "../assets/icons/PHP.astro";
import JavaScriptIcon from "../assets/icons/JavaScript.astro";
import ReactIcon from "../assets/icons/React.astro";
import TailwindIcon from "../assets/icons/Tailwind.astro";
import SassIcon from "../assets/icons/Sass.astro";
import GitIcon from "../assets/icons/Git.astro";
import WordpressIcon from "../assets/icons/Wordpress.astro";
import MySQLIcon from "../assets/icons/MySQL.astro";
import Bento from "../components/Bento.astro";

import { getI18N } from "../i18n/";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main class="px-4 z-20">
    <SectionContainer class="py-32 pb-22" id="inicio">
      <img
        class="rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="https://imgs.search.brave.com/lJ0VZS-ge2ntzv6ieysqC5qhKHOcqw0ezwiL0YmtZ2s/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzIyLzIw/LzM4LzIyMjAzODUx/ZTQ1NGMxNjBmNjI3/YjZiNzhjOTM3YjNk/LmpwZw"
        alt="JesusPuertos Avatar"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row md:gap-x-4 pb-6 lg:pb-10"
      >
        {i18n.INTRO_TITLE}
        <div class="flex justify-center items-center">
          <Badge>{i18n.BADGE_TITLE}</Badge>
        </div>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>{i18n["año de experiencia"]}</span>
        <span class="text-yellow-800 dark:text-yellow-200">
          {i18n["Desarrollador Web"]}</span
        >
        <span class="text-red-800 dark:text-red-200"
          >{
            i18n[
              "Experiencia en lenguajes de programación como JavaScript y PHP."
            ]
          }
        </span><span class="text-sky-800 dark:text-sky-200"
          >{i18n["Manejo de arquitectura CSS BEM."]}</span
        >
      </h2>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white mt-2"
      >
        <span class="text-black/80 dark:text-white/90"
          >{i18n.INTRO_SUBTILE2}
        </span>
        <span class="text-sky-800 dark:text-sky-200"
          >{i18n["proyectos prácticos"]}</span
        >
      </h2>

      <nav class="flex gap-x-4 gap-y-2 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jes%C3%BAs-puertos-mx/">
          <TrabajoIcon class="size-4 md:size-6" /> LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Jesus-Puertos">
          <GithubIcon class="size-4 md:size-6" /> Github
        </SocialPill>
        <SocialPill href="https://github.com/Jesus-Puertos">
          <MailIcon class="size-4 md:size-6" /> 226w0496@zongolica.tecnm.mx
        </SocialPill>
      </nav>

      <div class="flex flex-wrap gap-y-4 gap-x-4 mt-8">
        <Tecnologies><HTMLIcon class="size-4 md:size-6" /> HTML</Tecnologies>
        <Tecnologies><CSSIcon class="size-4 md:size-6" /> CSS</Tecnologies>
        <Tecnologies>
          <JavaScriptIcon class="size-4 md:size-6" /> JavaScript
        </Tecnologies>
        <Tecnologies><PHPIcon class="size-4 md:size-6" /> PHP</Tecnologies>
        <Tecnologies><ReactIcon class="size-4 md:size-6" /> React</Tecnologies>
        <Tecnologies>
          <TailwindIcon class="size-4 md:size-6" /> Tailwind CSS
        </Tecnologies>
        <Tecnologies><SassIcon class="size-4 md:size-6" /> Sass</Tecnologies>
        <Tecnologies><GitIcon class="size-4 md:size-6" /> Git</Tecnologies>
        <Tecnologies>
          <WordpressIcon class="size-4 md:size-6" /> Wordpress
        </Tecnologies>

        <Tecnologies>
          <MySQLIcon class="size-4 md:size-6" /> MySQL
        </Tecnologies>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia" data-section="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Education class="size-8 mr-4" />
        {i18n.Education}
      </h2>
      <Educacion />
    </SectionContainer>

    <SectionContainer>
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BriefCaseIcon class="size-8 mr-4" />
        Experiencia:
      </h2>
      <Timeline />
    </SectionContainer>

    <SectionContainer
      class="py-24 pb-0"
      id="portfolio"
      data-section="portfolio"
    >
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <PortfolioIcon class="size-8 mr-4" />
        Portfolio
      </h2>
      <Projects />
    </SectionContainer>
    <Bento />
    <SectionContainer id="contacto" data-section="contacto">
      <FormContact <main SectionContainer />
    </SectionContainer>
  </main>
</Layout>
