---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import TrabajoIcon from "../components/icons/Trabajo.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Timeline from "../components/Timeline.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import PortfolioIcon from "../components/icons/Portfolio.astro";
import Projects from "../components/Projects.astro";
import Educacion from "../components/Educacion.astro";
import Education from "../components/icons/Education.astro";
import Tecnologies from "../components/Tecnologies.astro";
import CSSIcon from "../assets/icons/CSS.astro";
import HTMLIcon from "../assets/icons/HTML.astro";
import PHPIcon from "../assets/icons/PHP.astro";
import JavaScriptIcon from "../assets/icons/JavaScript.astro";
import ReactIcon from "../assets/icons/React.astro";
import TailwindIcon from "../assets/icons/Tailwind.astro";
import SassIcon from "../assets/icons/Sass.astro";
import GitIcon from "../assets/icons/Git.astro";
import WordpressIcon from "../assets/icons/Wordpress.astro";
import Bento from "../components/Bento.astro";

import { getI18N } from "../i18n/";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main class="px-4 z-20">
    <SectionContainer class="py-32 pb-22" id="sobre">
      <img
        class="rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="https://imgs.search.brave.com/lJ0VZS-ge2ntzv6ieysqC5qhKHOcqw0ezwiL0YmtZ2s/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzIyLzIw/LzM4LzIyMjAzODUx/ZTQ1NGMxNjBmNjI3/YjZiNzhjOTM3YjNk/LmpwZw"
        alt="JesusPuertos Avatar"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row md:gap-x-2 pb-6 lg:pb-10"
      >
        {i18n.INTRO_TITLE}
        <div class="flex justify-center items-center">
          <Badge>{i18n.BADGE_TITLE}</Badge>
        </div>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>{i18n["año de experiencia"]}</span>
        <span class="text-yellow-800 dark:text-yellow-200">
          {i18n["Desarrollador Web"]}</span
        >
        <span class="text-red-800 dark:text-red-200"
          >{
            i18n[
              "Experiencia en lenguajes de programación como JavaScript y PHP."
            ]
          }
        </span><span class="text-sky-800 dark:text-sky-200"
          >{i18n["Manejo de arquitectura CSS BEM."]}</span
        >
      </h2>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white mt-2"
      >
        <span class="text-black/80 dark:text-white/90"
          >{i18n.INTRO_SUBTILE2}
        </span>
        <span class="text-sky-800 dark:text-sky-200"
          >{i18n["proyectos prácticos"]}</span
        >
      </h2>

      <nav class="flex gap-x-4 gap-y-2 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jes%C3%BAs-puertos-mx/">
          <TrabajoIcon class="size-4 md:size-6" /> LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Jesus-Puertos">
          <GithubIcon class="size-4 md:size-6" /> Github
        </SocialPill>
        <SocialPill href="https://github.com/Jesus-Puertos">
          <MailIcon class="size-4 md:size-6" /> 226w0496@zongolica.tecnm.mx
        </SocialPill>
      </nav>

      <div class="flex flex-wrap gap-y-4 gap-x-4 mt-8">
        <Tecnologies><HTMLIcon class="size-4 md:size-6" /> HTML</Tecnologies>
        <Tecnologies><CSSIcon class="size-4 md:size-6" /> CSS</Tecnologies>
        <Tecnologies>
          <JavaScriptIcon class="size-4 md:size-6" /> JavaScript
        </Tecnologies>
        <Tecnologies><PHPIcon class="size-4 md:size-6" /> PHP</Tecnologies>
        <Tecnologies><ReactIcon class="size-4 md:size-6" /> React</Tecnologies>
        <Tecnologies>
          <TailwindIcon class="size-4 md:size-6" /> Tailwind CSS
        </Tecnologies>
        <Tecnologies><SassIcon class="size-4 md:size-6" /> Sass</Tecnologies>
        <Tecnologies><GitIcon class="size-4 md:size-6" /> Git</Tecnologies>
        <Tecnologies>
          <WordpressIcon class="size-4 md:size-6" /> Wordpress
        </Tecnologies>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia" data-section="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Education class="size-8 mr-4" />
        {i18n.Education}
      </h2>
      <Educacion />
    </SectionContainer>

    <SectionContainer>
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BriefCaseIcon class="size-8 mr-4" />
        Experiencia:
      </h2>
      <Timeline />
    </SectionContainer>

    <SectionContainer
      class="py-24 pb-0"
      id="portfolio"
      data-section="portfolio"
    >
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <PortfolioIcon class="size-8 mr-4" />
        Portfolio
      </h2>
      <Projects />
    </SectionContainer>
    <Bento />
    <SectionContainer id="contacto" data-section="contacto">
      <div class="w-full mx-auto lg:w-[740px] mt-5 mb-5">
        <div class="mx-auto max-w-lg text-center">
          <h1 class="text-2xl font-bold sm:text-3xl">
            Empezemos a Trabajar Hoy!
          </h1>

          <p class="mt-4 text-gray-500">
            Enviame un mensaje y te contestare lo mas pronto posible.
          </p>
        </div>

        <form
          action="https://formsubmit.co/226w0496@zongolica.tecnm.mx"
          method="POST"
          class="mx-auto mb-0 mt-8 max-w-md space-y-4"
        >
          <input type="hidden" name="_template" value="table" />
          <div>
            <label for="name" class="sr-only">Nombre</label>

            <div class="relative">
              <input
                name="name"
                id="name"
                type="text"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Ingresa tu nombre"
              />
            </div>
          </div>

          <div>
            <label for="email" class="sr-only">Email</label>

            <div class="relative">
              <input
                type="email"
                name="email"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter email"
              />

              <span
                class="absolute inset-y-0 end-0 grid place-content-center px-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                  ></path>
                </svg>
              </span>
            </div>
          </div>

          <div>
            <label for="message" class="sr-only">Mensaje</label>

            <div class="relative">
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="5"
                class="w-full
                rounded-lg
                border-gray-200
                p-4
                pe-12
                text-sm
                shadow-sm resize-none"
                placeholder="Tu mensaje"></textarea>
            </div>
          </div>

          <div class="flex items-center justify-between text-balance">
            <p class="text-sm text-gray-500">
              ¿No quieres enviarme correo?
              <a
                class="underline"
                href="https://www.linkedin.com/in/jes%C3%BAs-puertos-mx/"
              >
                Checa mi LinkedIn</a
              >
            </p>

            <button
              type="submit"
              class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
            >
              Enviar
            </button>
            <input type="hidden" name="_next" value="http://localhost:4321/" />
            <input type="hidden" name="_captcha" value="false" />
          </div>
        </form>
      </div>
    </SectionContainer>
  </main>
</Layout>
