---
import HTML from "../assets/icons/HTML.astro";
import CSS from "../assets/icons/CSS.astro";
const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
};

const PROJECTS = [
  {
    title: "Card",
    description: "Un proyecto que hice de la plataforma FrontMentor",
    link: "#",
    github: "#",
    image: "/images/practica-1.png",
    tags: [TAGS.HTML, TAGS.CSS],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex  gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10 "
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
